body{
	background: black;
}
h2, p, li {
	color: white;
	font-family: cambria;
}

button{
	height: 20px;
	width: 80px;
	padding: 0px;
	position: relative;
	bottom: 0px;
	color: black;
	font-family: cambria;
}

.toggle{
	cursor: pointer;
	position: relative;
	padding: 0px;
	width: 20px;
	height: 20px;
	background: white;
	display: inline-block;
	transition: 0.3s;
	border-radius: 10px;
	margin: 5px;

}

.green{
	background: green;
}